
.header__square-pic {
  position: absolute;
  display: flex;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  bottom: 0px;
  animation: rotation 20s linear 0s infinite;
}
