.khan__quote-author-subline {
  padding: 0;
  display: flex;
  margin: 10px 0 68px 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
