.khan__quote-author {
  padding: 0px;
  display: flex;
  margin: auto;
  margin: 36px 0 10px 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
